
/* --- ---- --- ---- --- ---- */

/* --- prettifying plus width and height only #4a390c--- */
.backgroundPanel {
z-index: 101;
width: 500px;
height: 400px ;
background-color: #d9b3ff;
border-radius: 6px;
border-width: 5px;
border-style: solid;
border-color: #4a390c;
position: absolute;
                 }

/* --- positioning and prettifying panel header box --- */
.panelHeader {
z-index: 101;
position: absolute;
top: -3px;
left: -3px;
width: 500px;
height: 38px ;
border-width: 3px;
border-style: solid;
border-color: #4a390c;
background-color: #f2e6ff;
             }

/* --- positioning and prettifying panel header text--- */
.panelHeaderText {
z-index: 101;
position: absolute;
top: -29px;
left: 15px;
display: block;
text-align: center;
vertical-align: middle;
color: #602020;
font-family: Verdana, sans-serif;
font-size: 28px;
                 }


/* --- prettifying and positioning the table --- */
.tableStyle {
z-index: 101;
width: 490px;
background-color: none;
position: absolute;
top: 45px;
left: 5px
            }







/* --- positioning and prettifying panel body --- */
.panelBody {
    z-index: 10;
    position: absolute;
    top: 43px;
    left: 3px;
    width: 400px;
    height: 359px ;
background-color: #f2ecdc;
            }
