
/* --- width and height and prettifying <ShowCard> --- */

.prettifyNumber {
font-size: 34px ;
color: #333 ;
z-index: 0
                }






/* -- *************** ************ *************** ************ ********* --- */
/* -- *************** ************ *************** ************ ********* --- */
